@import '../style'; 

.contact {
    padding-top: 0;
    &__body {
        display: flex;
        justify-content: space-between;
        p {
            font-weight: 500;
            font-size: rem(16);
            line-height: lineh(24, 16);
            opacity: 0.75;
        }
    }

    &__company {
        max-width: 360px;
        flex: 0 1 40%;
    }


    &__title {
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: rem(20);
        line-height: lineh(28, 20);
    }

    &__info {
        flex: 0 1 20%;

    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: rem(20);
        
    }
    &__office {
        flex: 0 1 40%;
        img {
            width: 100%;
        }
    }

    
    @media screen and (max-width: $tablet) {
        &__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 20px;

            p {
                font-weight: 500;
                font-size: 1rem;
                line-height: lineh(24, 16);
                opacity: 0.75;
            }
        }

        &__company {
            max-width: 700px;
            margin: 0 auto;
        }

        &__info .contact__title {
            margin-bottom: rem(10);
        }
        
    }
   
    
}



