@import '../style'; 

.intro {
    margin-top: rem(104);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;

        flex: 1 1 50%;


        .info__title {
            font-weight: 600;
            font-size: rem(56);
            line-height: lineh(72, 56);
            letter-spacing: -0.4px;
            color: $white;
            span {
                color: #FFCC00;
            }

        }
        .info__text {
            font-weight: 400;
            font-size: rem(18);
            line-height: lineh(32, 18);
            color: $white;
            
            flex: 0 1 auto;            

        }
        .info__btn {
            line-height: lineh(26, 16);
            padding: rem(19) rem(35);
            max-width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            .arrow__icon {
                font-size: 1.5rem;
            }

            &:hover {
                .arrow__icon {
                    color: $mainColor;
                }
            }
            
        
        }
    }

    
    
    &__picture {

        .ink {
            position: relative;
            z-index: 1;
            

           .purpleSpot {
                transform: rotate(180deg);
                position: relative;
                z-index: 0;
                max-width: 100%;
           }

           .person {
            position: absolute;
            z-index: 1;
            right: 0;
            max-width: 90%;

           }

        }

        
    }
    
    @media screen and (max-width: $tablet) {

        &__container {  
            flex-direction: column;
            justify-content: center;
            position: relative;
            gap: 30px;
        }
    
        &__info {
            order: 1;

            .info__title {
                font-size: 2.8rem;
                line-height: 1.3;

            }
            .info__btn {
                justify-self: center;
            }
           
        }
        &__picture {
            order: 0;
        }
    }


    @media screen and (max-width: $mobile) {

    
        &__info {
            justify-content: center;

            .info__title {
                font-size: 2rem;
                line-height: 1.3;

            }
            
            .info__btn{ 
                position: static;
            }
         
        }

       
    }
}


