@import '../style'; 
.opinions {
    background-color: #020E2D;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .opinions__previous {
        transform: rotate(180deg);
        
    }
    // .opinions__next {
    //     background-color: $mainColor;
    // }
    .opinions__next, .opinions__previous {
        min-width: 45px;
        height: 45px;
        display: flex;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        background: #212C3A;
        cursor: pointer;

        img {
            width: 12px;
        }

        .arrow {
            color: $white;
            width: 100%;
        }

        &.active {
            background-color: $mainColor;

        }

        &:hover {
            background-color: $yellow;

            .arrow {
                color: $mainColor;
            }
        }

        
    }
    .opinion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center ;
        max-width: 723px;
        gap: rem(44);

        &__quotes { 
            
            img {
                transform: translate(-10%, -10%)
            }
        }

        &__text {
            font-weight: 400;
            font-size: 28px;
            line-height: 40px;
        }
        &__signature {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            .opinion__name {
                margin-bottom: 0.5rem;
            }
        }

        &__dots {
            display: flex;
            gap: 9px;
            justify-content: center;
        }
        &__dot {
            width: 25px;
            height: 6px;
            background: $yellow;
            border-radius: 2px;
            cursor: pointer;

            &.active {
                background: $white;
            }

            &:hover {
                background-color: $white;
                
            }
        }

        @media screen and (max-width: $tablet) {

            &__text {
                font-weight: 400;
                font-size: rem(30);
                line-height: lineh(30, 23);
            }
            &__signature {
                font-weight: 600;
                font-size: 16px;
                line-height: lineh(16, 20);
            }
        }
    }


   
    
}
