@import '../style'; 


.satisfaction {
    background-color: #020E2D;
    &__container {
        padding-top: rem(100) !important;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        gap: rem(80);
    }

    &__cards {
        display: flex;
        justify-content: center;
        gap: rem(40);
        flex: 0 1 51%;
        .block-left, .block-right {
            display: flex;
            flex-direction: column;
            
            gap: rem(40);
            

        }


        .block-left {
            align-self: flex-end;
        }
        .block-right {
            align-self: flex-start;
        }

        .sat__card {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: rem(20);
            padding: 0 rem(28);
            flex: 0 1 300px;
            width: 270px;
            background-color: $mainColor;
            box-shadow: 0px 25px 100px rgba(76, 64, 247, 0.5);
            border-radius:20px;

            .card__number {
                font-size: rem(56);
                line-height: line(72, 56);
                letter-spacing: -0.4px;

            }
            .card__body {
                font-weight: 400;
                font-size: rem(18);
                line-height: lineh(32, 18);
            }

        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: rem(35);
        flex: 1 1 41%;

        .info__title {
            font-size: rem(56);
            line-height: lineh(72, 56);
        }
        .info__body {
            font-weight: 400;
            font-size: rem(18);
            line-height: lineh(32, 18);
        }

        .info__list{
            font-size: rem(18);
            line-height: lineh(32, 18);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
        }
        .info__item {
            margin-top: 1rem;
            display: flex;
            gap: rem(24);

            .orange {
                color: $orange;
            }

            .green {
                color: $green;
            }

            .red { 
                color: $red;
            }
        }    
    }    
}

@media screen and (max-width: 1125px) {
    .satisfaction {
        &__cards {
            .sat__card {
                width: 230px;
            }
        }
        &__info {
            .info__title {
                font-size: 2rem;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .satisfaction {
        &__body {
            flex-direction: column;
            text-align: center;
        }
        &__cards {
            order: 1;
        }

        &__info {
            order: 0;

            .info__list{
                gap: 0;
            }
            .info__item {
                display: flex;

                .orange {
                    color: $orange;
                }

                .green {
                    color: $green;
                }

                .red { 
                    color: $red;
                }
            }
        }
      
    }
  }


@media screen and (max-width: $tablet) {
    .satisfaction {
    
      &__cards {
          gap: rem(35);
          .block-left, .block-right {
            gap: rem(35);
            .sat__card {
                width: 240px;
            }
        }

      }

      &__info {
        text-align: center;
        align-items: center;

        .info__title {
            font-size: 2.5rem;
        }
        .info__body {
            max-width: 650px;
        }
      }
      
    }
  }


@media screen and (max-width: $mobile) {
  .satisfaction {
    &__container {
        padding-top: rem(50) !important;
    }

    &__body {
        flex-direction: column;
    }

    &__cards {
        flex-direction: column;

        .block-left, .block-right  {
            align-self: center;
        }
    
    }

    &__info {
       
        .info__body {
            max-width: 400px;
        }
      }
      
    
  }
}



