@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8m8n83');
  src:  url('fonts/icomoon.eot?8m8n83#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8m8n83') format('truetype'),
    url('fonts/icomoon.woff?8m8n83') format('woff'),
    url('fonts/icomoon.svg?8m8n83#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-fb:before {
  content: "\e901";
  color: #fff;
}
._icon-indeed:before {
  content: "\e902";
  color: #fff;
}
._icon-inst:before {
  content: "\e903";
  color: #fff;
}
._icon-twitter:before {
  content: "\e904";
  color: #fff;
}
._icon-arrow:before {
  content: "\e905";
}
._icon-btn-icon:before {
  content: "\e906";
}
._icon-Navbar-logo:before {
  content: "\e907";
}
._icon-search:before {
  content: "\e908";
}
._icon-star:before {
  content: "\e909";
}
._icon-business:before {
  content: "\e90a";
}
._icon-flame:before {
  content: "\e900";
}
._icon-marketing:before {
  content: "\e90b";
}
._icon-pc:before {
  content: "\e90c";
}
._icon-pen:before {
  content: "\e90d";
}
._icon-phone:before {
  content: "\e90e";
}
