@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
.red {
  color: #FF2D59;
}

.green {
  color: #4ADB61;
}

.orange {
  color: #FF6800;
}

.red {
  color: #FF2D59;
}

.green {
  color: #4ADB61;
}

.orange {
  color: #FF6800;
}

.title {
  text-align: center;
  margin-bottom: 3.75rem;
  position: relative;
  z-index: 50;
}
.title_label {
  font-size: 1.25rem;
  line-height: lh(28, 20);
  color: #FFCC00;
  font-weight: 600;
  padding-bottom: 0.625rem;
}
@media screen and (max-width: 900px) {
  .title_label {
    font-size: 1rem;
    line-height: lh(28, 16);
  }
}
.title_value {
  font-size: 2.625rem;
  line-height: lh(56, 42);
  color: #ffffff;
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .title_value {
    font-size: 2.8rem;
    line-height: 1.3;
  }
}
@media screen and (max-width: 530px) {
  .title_value {
    font-size: 2rem;
    line-height: 1;
  }
}

.red {
  color: #FF2D59;
}

.green {
  color: #4ADB61;
}

.orange {
  color: #FF6800;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  font-weight: 600;
  background-color: rgba(0, 17, 59, 0.7);
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 7.5rem;
}
.header-menu {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.menu-icon {
  display: none;
}

.nav-menu-list {
  display: flex;
  gap: 5.09375rem;
}
.nav-menu-item a {
  color: inherit;
  transition: color 0.3s ease;
}
.nav-menu-item a:hover {
  color: #FFCC00;
}

.contact-btn {
  padding: 1.1875rem 2.1875rem;
  line-height: lh(26, 16);
}

@media screen and (max-width: 900px) {
  .nav-menu-list {
    gap: 3.78125rem;
  }
  .contact-btn {
    padding: 0.875rem 0.875rem;
    line-height: lh(20, 16);
  }
}
@media screen and (max-width: 530px) {
  .header__container {
    justify-content: space-between;
  }
  .header-menu {
    display: block;
    flex: 0 0 auto;
  }
  .header .nav-menu {
    position: absolute;
    top: 0;
    right: -120%;
    width: 60%;
    height: 100vh;
    background-color: #4C40F7;
    transition: all 0.3s ease;
    padding-top: 5rem;
    overflow: auto;
  }
  .header .nav-menu-list {
    flex-direction: column;
    align-items: center;
    gap: 1.5625rem;
  }
  .header .nav-menu-item a {
    font-size: 2rem;
  }
  .header .nav-menu._active {
    right: 0;
  }
  .header .contact-btn {
    display: none;
  }
  .header .menu-icon {
    position: relative;
    z-index: 5;
    display: block;
    width: 27px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0);
  }
  .header .menu-icon span, .header .menu-icon::before, .header .menu-icon::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.3s ease;
  }
  .header .menu-icon::before, .header .menu-icon::after {
    content: "";
  }
  .header .menu-icon::before {
    top: 0;
  }
  .header .menu-icon::after {
    bottom: 0;
  }
  .header .menu-icon span {
    transform: scale(1) translate(0px, -50%);
  }
  .header .menu-icon._active span, .header .menu-icon._active::before, .header .menu-icon._active::after {
    background-color: #FFCC00;
  }
  .header .menu-icon._active span {
    display: none;
  }
  .header .menu-icon._active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header .menu-icon._active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}
.red {
  color: #FF2D59;
}

.green {
  color: #4ADB61;
}

.orange {
  color: #FF6800;
}

.intro {
  margin-top: 5.25rem;
}
.intro__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  flex: 1 1 50%;
}
.intro__info .info__title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.2857142857;
  letter-spacing: -0.4px;
  color: #ffffff;
}
.intro__info .info__title span {
  color: #FFCC00;
}
.intro__info .info__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.7777777778;
  color: #ffffff;
  flex: 0 1 auto;
}
.intro__info .info__btn {
  line-height: 1.625;
  padding: 1.1875rem 2.1875rem;
  max-width: 200px;
}
.intro__picture .ink {
  position: relative;
  z-index: 1;
}
.intro__picture .ink .purpleSpot {
  transform: rotate(180deg);
  position: relative;
  z-index: 0;
  max-width: 100%;
}
.intro__picture .ink .person {
  position: absolute;
  z-index: 1;
  right: 0;
  max-width: 90%;
}
@media screen and (max-width: 900px) {
  .intro__container {
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 30px;
  }
  .intro__info .info__title {
    font-size: 2.8rem;
    line-height: 1.3;
  }
}
@media screen and (max-width: 530px) {
  .intro__info {
    order: 1;
    justify-content: center;
  }
  .intro__info .info__title {
    font-size: 2rem;
    line-height: 1.3;
  }
  .intro__info .info__btn {
    position: static;
  }
  .intro__picture {
    order: 0;
  }
}

.red {
  color: #FF2D59;
}

.green {
  color: #4ADB61;
}

.orange {
  color: #FF6800;
}

.cards {
  display: flex;
  flex-flow: wrap;
  row-gap: 3.75rem;
  column-count: 4;
  column-gap: 2rem;
  justify-content: center;
}
.cards__item {
  flex: 0 0 352px;
  text-align: center;
  background: #00113B;
  box-shadow: -10px 30px 70px rgba(76, 64, 247, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2.75rem 1.875rem;
  row-gap: 2.75rem;
  transition: all 0.3s ease;
}
.cards__item.card-flame:hover {
  background-color: #4C40F7;
}
.cards__item.card-flame:hover .services-flame {
  background-color: #ffffff;
}
.cards__item.card-flame:hover .services-flame a {
  color: #4C40F7;
}
.cards__item.card-pen:hover {
  background-color: #FF2D59;
}
.cards__item.card-pen:hover .services-pen {
  background-color: #ffffff;
}
.cards__item.card-pen:hover .services-pen a {
  color: #FF2D59;
}
.cards__item.card-pc:hover {
  background-color: #4ADB61;
}
.cards__item.card-pc:hover .services-pc {
  background-color: #ffffff;
}
.cards__item.card-pc:hover .services-pc a {
  color: #4ADB61;
}
.cards__item.card-phone:hover {
  background-color: #FFCC00;
}
.cards__item.card-phone:hover .services-phone {
  background-color: #ffffff;
}
.cards__item.card-phone:hover .services-phone a {
  color: #FFCC00;
}
.cards__item.card-business:hover {
  background-color: #007BFF;
}
.cards__item.card-business:hover .services-business {
  background-color: #ffffff;
}
.cards__item.card-business:hover .services-business a {
  color: #007BFF;
}
.cards__item.card-marketing:hover {
  background-color: #FF6800;
}
.cards__item.card-marketing:hover .services-marketing {
  background-color: #ffffff;
}
.cards__item.card-marketing:hover .services-marketing a {
  color: #FF6800;
}
.cards__logo {
  height: 97px;
  width: 97px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.cards__logo .icon__services {
  color: #ffffff;
  font-size: 2.0625rem;
  transition: all 0.3s ease;
}
.cards__logo.services-flame {
  background-color: #4C40F7;
  box-shadow: -10px 30px 70px rgba(76, 64, 247, 0.5);
}
.cards__logo.services-pen {
  background-color: #FF2D59;
  box-shadow: 0px 15px 30px rgba(255, 45, 89, 0.4);
}
.cards__logo.services-pc {
  background-color: #4ADB61;
  box-shadow: 0px 15px 30px rgba(74, 219, 97, 0.4);
}
.cards__logo.services-phone {
  background-color: #FFCC00;
  box-shadow: 0px 15px 30px rgba(255, 204, 0, 0.4);
}
.cards__logo.services-business {
  background-color: #007BFF;
  box-shadow: 0px 15px 30px rgba(0, 123, 255, 0.4);
}
.cards__logo.services-marketing {
  background-color: #FF6800;
  box-shadow: 0px 15px 30px rgba(255, 104, 0, 0.4);
}
.cards__name {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}
.cards__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.7777777778;
  flex: 1 1 auto;
}
.cards__next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8125rem;
  height: 2.8125rem;
  background-color: #020E2D;
  border-radius: 50%;
  margin: 0 auto;
}
.cards__next._icon-arrow {
  color: white;
}

.red {
  color: #FF2D59;
}

.green {
  color: #4ADB61;
}

.orange {
  color: #FF6800;
}

.documentation__container {
  position: relative;
  text-align: center;
}
.documentation__container::before {
  content: url("../../assets/images/background/meeting-section/bg-right-red.png");
  z-index: 0;
  height: 100%;
  position: absolute;
  bottom: -50px;
  right: -160px;
  z-index: 1;
}
.documentation__container::after {
  content: url("../../assets/images/background/meeting-section/bg-left-orange.png");
  z-index: 0;
  height: 100%;
  position: absolute;
  bottom: -150px;
  left: -160px;
  z-index: 0;
}
@media screen and (max-width: 900px) {
  .documentation__container::before {
    bottom: -100px;
  }
  .documentation__container::after {
    bottom: -100px;
  }
}
@media screen and (max-width: 530px) {
  .documentation__container::before {
    bottom: -150px;
  }
  .documentation__container::after {
    bottom: -150px;
  }
}
.documentation .title {
  position: relative;
  z-index: 2;
}
.documentation .video {
  position: relative;
  z-index: 2;
  max-width: 1120px;
}
.documentation .video img {
  width: 100%;
}

.red {
  color: #FF2D59;
}

.green {
  color: #4ADB61;
}

.orange {
  color: #FF6800;
}

.satisfaction {
  background-color: #020E2D;
}
.satisfaction__container {
  padding-top: 100px !important;
}
.satisfaction__body {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.satisfaction__cards {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex: 0 1 51%;
}
.satisfaction__cards .block-left, .satisfaction__cards .block-right {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.satisfaction__cards .block-left {
  align-self: flex-end;
}
.satisfaction__cards .block-right {
  align-self: flex-start;
}
.satisfaction__cards .sat__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1.25rem;
  padding: 0 1.75rem;
  flex: 0 1 300px;
  width: 270px;
  background-color: #4C40F7;
  box-shadow: 0px 25px 100px rgba(76, 64, 247, 0.5);
  border-radius: 20px;
}
.satisfaction__cards .sat__card .card__number {
  font-size: 3.5rem;
  line-height: line(72, 56);
  letter-spacing: -0.4px;
}
.satisfaction__cards .sat__card .card__body {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.7777777778;
}
.satisfaction__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
  flex: 1 1 41%;
}
.satisfaction__info .info__title {
  font-size: 3.5rem;
  line-height: 1.2857142857;
}
.satisfaction__info .info__body {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.7777777778;
}
.satisfaction__info .info__list {
  font-size: 1.125rem;
  line-height: 1.7777777778;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.satisfaction__info .info__list .info__item {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
}
.satisfaction__info .info__list .info__item .orange {
  color: #FF6800;
}
.satisfaction__info .info__list .info__item .green {
  color: #4ADB61;
}
.satisfaction__info .info__list .info__item .red {
  color: #FF2D59;
}

@media screen and (max-width: 1125px) {
  .satisfaction__cards .sat__card {
    width: 230px;
  }
  .satisfaction__info .info__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .satisfaction__body {
    flex-direction: column;
    text-align: center;
  }
  .satisfaction__cards {
    order: 1;
  }
  .satisfaction__info {
    order: 0;
  }
  .satisfaction__info .info__list {
    gap: 0;
  }
  .satisfaction__info .info__list .info__item {
    display: flex;
  }
  .satisfaction__info .info__list .info__item .orange {
    color: #FF6800;
  }
  .satisfaction__info .info__list .info__item .green {
    color: #4ADB61;
  }
  .satisfaction__info .info__list .info__item .red {
    color: #FF2D59;
  }
}
@media screen and (max-width: 900px) {
  .satisfaction__cards {
    gap: 2.1875rem;
  }
  .satisfaction__cards .block-left, .satisfaction__cards .block-right {
    gap: 2.1875rem;
  }
  .satisfaction__cards .block-left .sat__card, .satisfaction__cards .block-right .sat__card {
    width: 240px;
  }
  .satisfaction__info {
    text-align: center;
    align-items: center;
  }
  .satisfaction__info .info__title {
    font-size: 2.5rem;
  }
  .satisfaction__info .info__body {
    max-width: 650px;
  }
}
@media screen and (max-width: 530px) {
  .satisfaction__body {
    flex-direction: column;
  }
  .satisfaction__cards {
    flex-direction: column;
  }
  .satisfaction__cards .block-left, .satisfaction__cards .block-right {
    align-self: center;
  }
  .satisfaction__info .info__body {
    max-width: 400px;
  }
}
.red {
  color: #FF2D59;
}

.green {
  color: #4ADB61;
}

.orange {
  color: #FF6800;
}

.interior__places {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.interior__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex: 0 1 33.3333%;
}
.interior__item img {
  max-width: 100%;
  display: block;
}

@media screen and (max-width: 900px) {
  .interior__places {
    gap: 20px;
  }
  .interior__column {
    gap: 20px;
  }
}
@media screen and (max-width: 530px) {
  .interior__places {
    gap: 15px;
  }
  .interior__column {
    gap: 15px;
  }
}
.red {
  color: #FF2D59;
}

.green {
  color: #4ADB61;
}

.orange {
  color: #FF6800;
}

.companies__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  row-gap: 3.75rem;
}
.companies__item {
  flex: 0 0 18%;
}
.companies__item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 34.68px;
}

@media screen and (max-width: 900px) {
  .companies__row {
    gap: 20px;
  }
  .companies__item {
    flex: 0 0 16%;
  }
}
@media screen and (max-width: 530px) {
  .companies__row {
    justify-content: center;
  }
  .companies__item {
    flex: 0 0 33%;
  }
}
.red {
  color: #FF2D59;
}

.green {
  color: #4ADB61;
}

.orange {
  color: #FF6800;
}

.opinions {
  background-color: #020E2D;
}
.opinions__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.opinions .opinions__previous {
  transform: rotate(180deg);
  background: #212C3A;
}
.opinions .opinions__next {
  background-color: #4C40F7;
}
.opinions .opinions__next, .opinions .opinions__previous {
  min-width: 45px;
  height: 45px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.opinions .opinions__next img, .opinions .opinions__previous img {
  width: 12px;
}
.opinions .opinion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 723px;
  gap: 2.75rem;
}
.opinions .opinion__quotes img {
  transform: translate(-10%, -10%);
}
.opinions .opinion__text {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
}
.opinions .opinion__signature {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.opinions .opinion__signature .opinion__name {
  margin-bottom: 0.5rem;
}
.opinions .opinion__dots {
  display: flex;
  gap: 4px;
  justify-content: center;
}
.opinions .opinion__dot {
  width: 15px;
  height: 4px;
  background: #FFCC00;
  border-radius: 2px;
}
.opinions .opinion__dot.active {
  background: #ffffff;
}
@media screen and (max-width: 900px) {
  .opinions .opinion__text {
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.3043478261;
  }
  .opinions .opinion__signature {
    font-weight: 600;
    font-size: 16px;
    line-height: 0.8;
  }
}

.red {
  color: #FF2D59;
}

.green {
  color: #4ADB61;
}

.orange {
  color: #FF6800;
}

.questions {
  padding: 200px 15px !important;
}
.questions__container {
  position: relative;
  text-align: center;
}
.questions__container::before {
  content: url("../../../assets/images/background/bg-left-blue.png");
  position: absolute;
  left: -13%;
  bottom: -20%;
  z-index: 1;
}
.questions__container::after {
  content: url("../../../assets/images/background/bg-right-yellow.png");
  position: absolute;
  right: -13%;
  top: -84%;
  z-index: 0;
}
.questions__body {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.questions .question__item {
  padding: 2rem;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  transition: all 0.3s ease;
  text-align: left;
}
.questions .question__item .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5625;
}
.questions .question__item .question span {
  font-size: 1.5rem;
  transform: rotate(90deg);
}
.questions .question__item .answer {
  padding-top: 2rem;
  border-top: 1px solid #D8D8D8;
  display: none;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.7777777778;
}
.questions .question__item.active {
  border: 2px solid #4C40F7;
}
.questions .question__item.active .question {
  padding-bottom: 2rem;
}
.questions .question__item.active .answer {
  display: block;
}
.questions .question__item.active span {
  transform: rotate(-90deg);
}
@media screen and (max-width: 900px) {
  .questions__container::before {
    left: -13%;
    bottom: -30%;
    z-index: 1;
  }
  .questions__container::after {
    right: -13%;
    top: -74%;
  }
}
@media screen and (max-width: 530px) {
  .questions__container::after {
    right: -30%;
    top: -68%;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
}

body {
  color: #ffffff;
  font-family: "Poppins";
}
body.of-hidden {
  overflow: hidden;
}

.button {
  background-color: #4C40F7;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  filter: drop-shadow(-15px 10px 30px rgba(76, 64, 247, 0.2));
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #FFCC00;
  color: #4C40F7;
}

.arrow {
  transform: translate(7px, 3px);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background: #00113B no-repeat;
}

[class*=__container] {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

section {
  position: relative;
  padding: 6.25rem 0;
  overflow: hidden;
}

@media screen and (max-width: 1120px) {
  [class*=__container] {
    max-width: 900px;
  }
}
@media screen and (max-width: 900px) {
  section {
    padding: 3.125rem 0;
  }
}

/*# sourceMappingURL=styles.css.map */
