@use 'sass:math';

@import 'style.scss';


.title {
    text-align: center;
    margin-bottom: rem(60);

    &_label {
        font-size: rem(20);
        line-height: lh(28, 20);
        color: $yellow;
        font-weight: 600;
        padding-bottom: rem(10);
    }
    // &:not(:last-child) {
    //     margin-bottom: rem(20);
    // }

    &_value {
        font-size: rem(42);
        line-height: lh(56, 42);
        color: $white;
        font-weight: 600;
    }
}