@import 'style.scss';
@import 'common.scss';
@import 'modules/header.scss';
@import 'modules/intro.scss';
@import 'modules/cards.scss';
@import 'modules/documentation.scss';
@import 'modules/satisfaction.scss';
@import 'modules/interior.scss';
@import 'modules/companies.scss';
@import 'modules/opinions.scss';
@import 'modules/questions.scss';
@import 'modules/testimonials.scss';
@import 'modules/connect.scss';
@import 'modules/contact.scss';
@import 'modules/footer.scss';


// refreshing

*{padding: 0;margin:0;border:0;}
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active {outline: none;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
nav,footer,header,aside {display:block;}
html,body{height:100%;width: 100%;font-size: 100%; line-height: 1;font-size: 16px;
    -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
ol,ul,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-family: inherit; font-weight: 600;}

body { 
  color: $white;
  font-family: 'Poppins';
  
  &.of-hidden {
    overflow: hidden;
  }
}

.button {

  background-color: $mainColor;
  border-radius: 10px;
  color: $white;
  font-weight: 600;
  font-size: 1rem;
  filter: drop-shadow(-15px 10px 30px rgba(76, 64, 247, 0.2));
  transition: background-color 0.3s ease;
    &:hover {
      background-color: $yellow;
      color: $mainColor;
    }
}



.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background: $bgColor no-repeat;
}


[class*="__container"] {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  
}

section {
  position: relative;
  padding: rem(100) 0;
  overflow: hidden;
}

@media screen and (max-width: $pc) {

  [class*="__container"] {
    max-width: $tablet;

  }
}

@media screen and (max-width: $tablet) {
 
  section {
    padding: rem(50) 0;
  }
}

// @media screen and (max-width: $mobile) {
//   .container {
//     max-width: $mobile;

//   }
// }

