@import 'style.scss';
@import 'common.scss';
@import 'header.scss';

// refreshing

*{padding: 0;margin:0;border:0;}
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active {outline: none;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
nav,footer,header,aside {display:block;}
html,body{height:100%;width: 100%;font-size: 100%; line-height: 1;font-size: 16px;
    -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
ol,ul,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-family: inherit;}

body { 
  color: $greyColor;
  font-family: 'Poppins';
  
  &.of-hidden {
    overflow: hidden;
  }
}


.container {
  max-width: 1120px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}



@media screen and (max-width: $tablet) {
  .container {
    max-width: $tablet;
    padding: 0 20px;
  }
}

@media screen and (max-width: $mobile) {
  .container {
    max-width: $mobile;
  }
}

