@use 'sass:math';
// fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");

$fontFamily: 'Poppins';
$root-font-size: 16;
// // colors
$mainColor: #4C40F7;
$greyColor: #6B6B6B;
$titleColor: #111029;
$white: #ffffff;
$companyColor: #ABAFC7;
$bgColor: #00113B;
$yellow: #FFCC00;
$red: #FF2D59;
$green: #4ADB61;
$orange: #FF6800;

.red {
  color: $red;
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}


// // sizes
$minWidth: 428px;
$maxWidth: 1440px;


$maxWidthContainer: 1120px;

// // first breakpoint


// // breakpoints

$pc: $maxWidthContainer;
$tablet: 900px;
$mobile: 530px;

$tabletWidth: $tablet - 60px;


@function rem($size) {
  @return calc($size / $root-font-size * 1rem);
}

@function lineh($lh-px, $fs-px) {
  @return calc($lh-px / $fs-px);
}

@mixin cardsHover($card, $color) {
  &.card#{$card} {

      &:hover {
          background-color: #{$color};
          
          .services#{$card} {
              background-color: $white;
              a {
                  color: #{$color};
              }
          }

          .cards__next {
            background-color: $white;
          }
          .arrow__icon {
            color: $color;
          }
      }
      
  }
}

